<!-- <app-sidenav
  [sidenavWidthMax]="15"
  [sidenavWidthMin]="3"
  [iconColor]="'red'"
  [iconBackgroundColor]="'yellow'"
  [items]="items"
></app-sidenav> -->

<router-outlet></router-outlet>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="container">
  <div class="row">
      <app-orders class="col s6"></app-orders>
      <app-order-list class="col s6"></app-order-list>
  </div>
</div>
